{% extends "animal/root.html" %}

{% block title %}Form - Model Form{% endblock %}
{% block page-title %}Form - Model Form{% endblock %}
{% block content %}
    {% if success %}
        <div class="row">
            <div class="col-12">Success!</div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Create animal</button>
            </form>
        </div>
    </div>
{% endblock %}
