body {
    padding: 1em 0;
}

h1 {
    margin-top: 2rem;
    margin-bottom: .5rem;
}

h2 {
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    padding-bottom: .3rem;
    font-size: 1.4rem;
    border-bottom: 1px solid #dadada;
}

p label {
    display: block;
}

select[multiple] {
    min-width: 160px;
    min-height: 120px;
}

.main-menu {
    flex-wrap: wrap;
}

.main-menu-item {
    display: flex;
    align-items: center;
}

.main-menu-item a {
    padding-top: 0;
    padding-left: 0;
    padding-right: 2em;
}

.main-menu-item .active {
    font-weight: bold;
}
